[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

low-priority-updates              # Приоритет для чтения в ущерб записи
skip-name-resolve                 # Не определяем домены клиентов, только IP (ускоряет соединение)
max_allowed_packet=8M             # Максималный размер данных передаваемых в одном запросе
max_connections=128               # Максимальное количество параллельных соединений к серверу
thread_cache_size=16              # Указывает число кэшируемых потоков
query_cache_limit=1M              # Максимальный размер кэшируемого запроса
query_cache_size=10M              # Размер кэша
query_cache_min_res_unit=2M       # Минимальный размер хранимого в кэше блока
key_buffer_size=100M              # Размер буфера, выделяемого под индексы и доступного всем потокам
innodb_buffer_pool_size=150M      # Размер памяти, выделяемый InnoDB для хранения и индексов и данных
#innodb_file_per_table=1          #
innodb_flush_method=O_DIRECT      # Позволяет избежать двойного кеширования
innodb_flush_log_at_trx_commit=2  # (2) Уменьшает вероятность потери данных в ущерб производительности

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
